{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'login/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/login.css' %}" rel="stylesheet">
    <title>login page</title>
</head>
<body>
<div class="container">
    <div class="col">
        <form class="form-login" action="/login/" method="post">
            <div class="myalert">
                {% if login_form.captcha.errors %}
                    <div class="myalerts">{{ login_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="myalerts">{{ message }}</div>
                {% endif %}
            </div>
            {% csrf_token %}
            <h3 class="text-center">Welcome to login!</h3>
            {% for field in login_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div>
                <a href="/register/" class="text-success" style="font-size: 20px"><ins>New member register</ins></a>
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </div>
        </form>
    </div>
</div>
{# below order fixed #}
<script src="{% static 'login/jquery-3.4.1.js' %}"></script>
<script src="{% static 'login/popper.js' %}"></script>
<script src="{% static 'login/bootstrap.min.js' %}"></script>
</body>
</html>