body {
    height: 100%;
    background: url('./image/background.png') no-repeat;
    background-size: contain;
    background-position: center 20px;
}
.form-register {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 40px auto;
}
.form-group {
  margin-bottom: 5px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}

.myalert {
  margin-top: 0px;
  height: 50px;
  background-color: transparent;
}
.myalert .myalerts {
  padding: 0px;
  background-color: #fff3cd;
  text-align: center;
  color: #856404;
 }